
*{
    margin:0;
    padding:0;
 }

*, html {
    scroll-behavior:smooth !important;
}

.navbar-brand {
    margin-left: 3vw;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5vw;
}

.nav{
    background-color: white !important;
    border: white;
}

.nav-link {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1vw;
}

.navbar-nav {
    margin-left: 44vw;
}

.nav2 li {
    margin-left: 2vw;
    margin-right: 2vw;
}


.nav-link{
    list-style: none;
    padding: 2.1rem;
    display: flex;
    justify-content: space-around;
  }


li {
    display: inline;
    margin-right: 3vw;
}

@media screen and (max-width: 985px) {
    .navbar-brand {
        font-size: 3vw;
    }
 }

 @media screen and (min-width: 985px) {
    .navbar-brand {
        font-size: 2.5vw;
    }
 }

/* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('DM Sans'),
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
}

.bullet-style{
    display:list-item;
  }

  .banner{
    max-width: 100%;
}

/* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('DM Sans'),
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/dm-sans-v11-latin/dm-sans-v11-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
  }


  .main-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.25vw;
    color:black;
  }


  @media screen and (min-width: 40em){
    .main-title {
        font-size: 3.5vw;
    }
  }

  .subtitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.10rem;
    color:black;
   
  }

  .subtitle-description{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color:black;
  }

  .spacing-section {
    /* margin-left: 7vw; */
    margin-left: auto;
    margin-right: auto;
  }

  .project-title {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.10vw;
    color:black;

    text-decoration: underline;
    text-decoration-style: solid 5vw;
    text-decoration-color:pink;
    text-decoration-thickness: 6px;
    text-underline-offset: 1.2vw;
  }

  .text {
    font-size: 1.07rem;
    color:black;
  }

  .question-title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.02vw;
  }

  .higlight{
    color: palevioletred;
   }

   .process-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.02vw
  }



  .borders {
    border-width: 0.25rem;
    border-style: groove;
    border-color:pink
  }



  .home-link {
    color: palevioletred;
    font-weight: bold;
  }


  .bolded-parts {
    font-weight: 600;
    color: palevioletred;
  }

  .takeaways-title {
    color:black;
  }

  .takeaways {
    font-weight: bold;
  }



  .black {
    color: black;
  }

  .bakery-image {
    max-width: 65%
  }

  .link {
    color: black;

  }

  

